*, *::before, *::after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.nav.column.full{
    z-index: 1;
}

ul, li, a {
    margin: 0;
    padding: 0;
    border-radius: 8px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000000;
}
ul .navicon {
    float: right;
    height: 70px;
    display: table;
    margin-right:5%;
    margin-top:5%;
}

.logo ul > li {
    float: left;
    margin-left:5%;
    margin-top:5%;
}

a.logo-left{
    height: 70px;
    display: table;
}

.logo img{
    height: 55px;
    margin-top: 5px;
}

ul > li a {
    color: rgba(117, 51, 64, 1);
    font-weight: lighter;
    height:auto;
    padding:0px 5px;
    font-family:"Raleway", sans-serif;
}

/*This makes the nav icon white*/
ul > li i{
     color: white;
}

.icon-top{
    display:table-cell;
    vertical-align: middle;
}

ul li ul li:hover {
    background-color:rgba(117, 51, 64, .5);
    cursor: pointer;
}

ul li ul {
    display: none;
    position: absolute;
    background: white;
    top:85px;
    width: 150px;
    right: 45px;
    margin-top: 0%;
    border-radius: 8px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

ul li ul li a{
    display: table-cell;
    vertical-align: middle;
    padding-left: 10%;
}

ul li ul li {
    float: none;
    line-height: 20px;
    height: 50px;
    width: 100%;
    font-size: 18px;
    display: table; 
}

.fa.fa-navicon{
    font-size: 48px;
}


.hidden{
    display: none;
}

.logo img:hover {
    cursor: pointer;
}

.nav .column.third{
    height:70px;
    display:table;
}

.nav.column.full{
    padding-left:0%;
    padding-right:0%;
}

