.button{
    text-align: center;
    margin-bottom:10%;
    margin-top:5%;
}

.button button{
    font-family: 'Raleway', sans-serif;
    font-size:25px;
    background-color: #D44357;
    border: none;
    color: white;
    width: 250px;
    height: 60px;
    text-align: center;
    text-decoration: none;
    border-radius: 8px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    font-weight: lighter;
    margin-bottom:5%;
    padding-bottom:0%;
}

.fa.fa-navicon{
    color:rgba(60,115,137,.5);
}


body, html {
   height:100%
}

a{
    color: white;
    text-decoration: none;
}

.column {
         float: left;
         padding-left: 1rem;
         padding-right: 1rem;
     }

.column.full { width: 100%; }
.column.two-thirds { width: 66.7%; }
.column.half { width: 50%; }
.column.third { width: 33.3%; }
.column.fourth { width: 25%; }
.column.fifth {width:20%; }
.column.flow-opposite { float: right; }

.nav{
    width: 100%;
    position:relative;
    display:table;
}

a:hover{
    cursor: pointer;
}

h4{
    font-family: 'Raleway', sans-serif;
    font-size: 1.5rem;
}


h3{
    font-size:45px;
    font-family: 'Great Vibes', cursive;
    background-color:rgba(206,220,225,.5);
    border-radius:8px;
    padding:1%;
    color:#565656;
    margin-top: 0%;
    margin-bottom: 3%;
}

.features p{
    font-family: 'Raleway', sans-serif;
    color:#565656;
    font-size:25px;
    margin-bottom:6%;
    margin-top:4%;
}

.text p{
   font-family: 'Raleway', sans-serif;
    color:#565656;
    font-size:25px;
    opacity:.7;
    margin-bottom:0%;
}

.text{
    margin-top:0%;
    padding-top:0%;
    font-size:20px;
    line-height: 1.7;
    padding-left:15%;
    padding-right:15%;
    margin-bottom:0%;
}

.page{
    padding-left:15%;
    padding-right:15%;
}

.features{
    padding-left:7%;
}

.heading{
    text-align: center;
    font-family: 'Great Vibes', cursive;
    font-size:35px;
    color: #753340;
}

.image{
    text-align: center;
    margin-left:0%;
    padding-left:0%;
}

.image img{
    width:500px;
    height:auto;
}

.heading-one h2{
    margin-bottom:0%;
    margin-top:0%;
    font-size:60px;
    color:#565656;
}

.heading-two h2{ 
    margin-top:2%;
    margin-bottom: 3%;
    font-size:50px;
    color:#565656;
    opacity:.8;
}

.footer {
   position:fixed;
   left:0px;
   bottom:0px;
   height:40px;
   width:100%;
   background:white;
   font-size:35px;
   color:rgba(60,115,137,.5);
   margin-top:20%;
}

.icon-footer-row{
    text-align: center;
}

.footer a{
    color: rgba(60,115,137,.5)
}

.footer i{
    margin-right:50px;
}

.footer i:hover{
    cursor: pointer;
}

@media (max-width: 1290px){
    
   .image img{
        width:450px;
        height:auto;
    }
}

@media (max-width: 1157px){
    
    .page{
        padding-left:10%;
        padding-right:10%;
    }
    
    .text{
        padding-left:10%;
        padding-right:10%;
    }
}


@media (max-width: 1100px) {   
   
    .text p{
        font-size:24px;
    }
    
    .heading-one h2{
        font-size: 50px;
    }
    
     .column.full.text{
        margin-bottom:2%;
    }

}

@media (max-width: 1000px) {   
   
    .column.half{
        width:100%;
    }
    
    .features p{
        padding-left:30%;
        margin-bottom:3%;
        margin-top:1%;
    }
    
    .text{
        margin-bottom:10%;
    }

}

@media (max-width: 658px) {
    .heading-one h2{
        font-size: 45px;
        margin-top:5%;
    }
    
    .page{
        padding-left:1%;
        padding-right:1%;
    }
    
    .button button{
    font-size:25px;
    width: 225px;
    height: 50px;
}
     .column.full.text{
        margin-bottom:2%;
    }

}

@media (max-width: 500px) {
    
        .button button{
    font-size:22px;
    width: 200px;
    height: 50px;
    margin-bottom:10%;
}
    
    .image img{
        width:300px;
    }
    
     .features p{
        padding-left:25%;
        font-size:20px;
    }

    .heading-one h2{
        font-size:30px;
    }
    
    .heading-two h2{
        font-size:30px;
    }
    
    .text{
        padding-right:5%;
        margin-bottom:20%;
        padding-left:5%;
    }
    
    .text p{
        font-size:20px;
    }
    
    .column.full.text{
        margin-bottom:2%;
    }
    
    .footer{
      font-size:30px;
      margin-top:5%;
   }
    
    .footer i{
      margin-right:35px;
    }
    
}

@media (max-width: 400px) {
     .image.column.half{
        padding-right:0%;
    }
    
}

@media (max-width: 320px){
     .footer{
       font-size:30px;
   }
    
    .footer i{
       margin-right:25px;
    }
} 