body, html {
   height:100%
}

a{
    color: white;
    text-decoration: none;
}


.column {
         float: left;
         padding-left: 1rem;
         padding-right: 1rem;
     }

.column.full { width: 100%; }
.column.two-thirds { width: 66.7%; }
.column.half { width: 50%; }
.column.third { width: 33.3%; }
.column.fourth { width: 25%; }
.column.fifth {width:20%; }
.column.three-fifths {width: 60%;}
.column.two-fifths {width: 40%;}
.column.thirty{width: 30%;}
.column.flow-opposite { float: right; }

.nav{
    width:100%;
    position:absolute;
    display:table;
}

.dropdown{
    color:white;
}

.hero{
    height:100%;
    background: url(../images/Large_pexels-photo-313707.jpeg) no-repeat left bottom fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h4{
    font-family: 'Raleway', sans-serif;
    font-size: 1.5rem;
}

h3{
    font-family: 'Raleway', sans-serif;
    font-size:25px;
    color: #753340;
    margin-top:0%;
    margin-bottom:5%;
    opacity:.8;
    font-weight:100;
}

.hero-text{
    width: 700px;
    height: 300px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    background-color: rgba(250,249,246,.7);
    border-radius: 15px;
}

.hero-text h2{
    font-size: 60px;
    color: #753340;
    font-family: 'Great Vibes', cursive;
    margin-bottom: 3%;
    margin-top: 6%;
}

.hero-text button{
    font-family: 'Raleway', sans-serif;
    font-size:25px;
    background-color: #D44357;
    border: none;
    color: white;
    width: 250px;
    height: 60px;
    text-align: center;
    text-decoration: none;
    border-radius: 8px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    font-weight: lighter;
    margin-bottom:0%;
    padding-bottom:0%;
}

.about-box button{
    font-family: 'Raleway', sans-serif;
    font-size:25px;
    background-color: #D44357;
    border: none;
    color: white;
    width: 250px;
    height: 60px;
    text-align: center;
    text-decoration: none;
    border-radius: 8px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    font-weight: lighter;
}

.portfolio-pics button{
    font-family: 'Raleway', sans-serif;
    font-size:25px;
    background-color: #D44357;
    border: none;
    color: white;
    width: 250px;
    height: 60px;
    text-align: center;
    text-decoration: none;
    border-radius: 8px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    font-weight: lighter;
}

.heading{
    height: 80px;
    display: table;
    text-align:center;
    background-color:rgba(60,115,137,.5);
}

.heading h2{
    color:white;
    font-family: 'Great Vibes', cursive;
    font-size:48px;
    display: table-cell;
    vertical-align: middle;
}

.about{
    height:90%;
    background: url(../images/guess-attic-837156.jpg) no-repeat left center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
}

.about-box{
    width: 500px;
    height: 450px;
    position: absolute;
    right: 60px ;
    top: 50%;
    transform: translate(-0%,-50%);
    text-align: center;
    background-color: rgba(250,249,246,.7);
    border-radius: 15px;
}

.about-box p{
    font-size: 24px;
    color: #753340;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 0%;
    text-align: left;
    padding-bottom: 5%;
    line-height: 28px;
    margin-bottom: 0%;
}

.about img{
    width:100%;
}

p{
   font-family: 'Raleway', sans-serif;
    font-size:20px;
}

.portfolio{
    height:  45%;
}

.portfolio-pics{
    height: 90%;
}

.caption.column.two-fifths{
    height: 200px;
}

.portfolio-pics .column.three-fifths{
    height: 200px;
}

.portfolio-pics .column.half{
    height: 200px;
}

.portfolio-pics .column.fifth{
    height: 200px;
}

.portfolio-pics .column.thirty{
    height: 200px;
}

.portfolio img{
   width:100%;
   height:100%;
   object-fit: cover;
}

.left-img-one{
    padding-left: 20%;
    object-position: 0% 0%;
    
}

.left-img-two{
    padding-left: 24%;
}

.right-img-top{
    padding-right: 28%;
    object-position: 0% 0%;
}

.right-img-bottom{
    padding-right: 38%;
}

.left-top-caption{
    padding-left: 20%;
    margin-bottom: 1%;
}

.left-bottom-caption{
    padding-left: 24%;
    margin-top: 1%;
}

.right-top-caption{
    padding-right: 28%;
    margin-bottom: 1%;
}

.right-bottom-caption{
    padding-right: 38%;
    margin-top: 1%;
}

.middle-bottom-caption{
    margin-top: 1%;
}

.middle-img-bottom{
    object-fit: cover;
}

.caption p{
    text-align: center;
}

.packages-button{
    text-align: center;
    height: 10%;
    display: table;
}

.packages-button button{
    display: table-cell;
    vertical-align: middle;
    position: relative;
    top: -20px;
    
}

.right-bottom-top-caption{
    display: none;
}

.contact{
    height: 100%;
    background: url(../images/contactPhoto.jpeg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
}

form{
    width: 400px;
    height: 600px;
    position: absolute;
    right: 100px ;
    top: 60%;
    transform: translate(-0%,-50%);
    text-align: center;
    border-radius: 15px;
}



textarea{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
}

input[type=submit] {
    margin-top: 5%;
    font-family: 'Raleway', sans-serif;
    font-size:25px;
    background-color: #D44357;
    border: none;
    color: white;
    width: 250px;
    height: 60px;
    text-align: center;
    text-decoration: none;
    border-radius: 8px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    font-weight: 100;
}

input[type=submit]:hover {
    background-color: white;
    color: #D44357;
    cursor: pointer;
}

.icon-footer-row{
    display: table;
    width: 400px;
    height: 50px;
    position: absolute;
    right: 100px;
    bottom: 0px;
    transform: translate(-0%,-10%);
    text-align: center;
}

.contact i{
    color: white;
    font-size: 36px;
    display: table-cell;
    vertical-align: middle;
}

.contact i:hover{
    cursor: pointer;
}

button:hover{
    cursor: pointer;
    background-color: white;
    color: #D44357;
    font-size: 1.2x;
}

@media (max-width: 890px) {
    .left-img-one{
        padding-left: 0%;
    }

    .left-img-two{
        padding-left: 0%;
    }

    .right-img-top{
        padding-right: 0%;
        object-position: 0% 0%;
    }

    .right-img-bottom{
        padding-right: 0%;
    }

    .left-top-caption{
        padding-left: 0%;
    }

    .left-bottom-caption{
        padding-left: 0%;
    }

    .right-top-caption{
        padding-right: 0%;
    }

    .right-bottom-caption{
        padding-right: 0%;
        object-position: top 50%;
    }
    
    .caption.column.fifth{
        padding-left: 0%;
        padding-right: 0%;
    }
    
    .caption p{
        font-size: 18px;
        line-height: 24px;
    }

}

@media (max-width: 790px) {
    h4{
        font-size: 1rem;
    }
    
    
    .hero-text{
        width: 450px;
        height: 250px;
    }

    .hero-text h2{
        font-size: 48px;
        margin-bottom: 5%;
    }
    
    .about-box{
        width: 450px;
        height: 350px;
        position: absolute;
        right: 50% ;
        top: 50%;
        transform: translate(50%,-50%);
    }

    .about-box p{
        font-size: 20px;
        line-height: 24px;
    }
    
    .heading{
        height: 60px;
    }

    .heading h2{
        font-size: 36px;
    }
    
    .hero-text button{
      font-size:25px;
      width: 225px;
      height: 50px;
    }

    .about-box button{
      font-size:25px;
      width: 225px;
      height: 50;
    }

    .portfolio-pics button{
      font-size:25px;
      width: 225px;
      height: 50px;
    }
    
    input[type=submit] {
      font-size:25px;
      width: 225px;
      height: 50px;
    }

}

@media (max-width: 600px) {
    
    .icon-footer-row{
        width: 320px;
        height: 50px;
        right: 50%;
        transform: translate(50%,-10%);
    }
    
    form{
        width: 400px;
        right: 50%;
        transform: translate(50%,-50%);
    }
    
    .portfolio{
        height:  auto;
    }

    .portfolio-pics{
        height: auto;
    }

    div.caption.column.two-fifths{
        margin-top: 10%;
        width: 100%;
        height: 200px;
    }

    .portfolio-pics .column.three-fifths{
        margin-top: 5%;
        width: 100%;
        height: 200px;
    }

    .portfolio-pics .column.half{
        margin-top: 10%;
        width: 100%;
        height: 200px;
    }

    .portfolio-pics .column.fifth{
        margin-top: 10%;
        width: 100%;
        height: 200px;
    }

    .portfolio-pics .column.thirty{
        margin-top: 10%;
        width: 100%;
        height: 200px;
    }   

    .portfolio img{
        width:100%;
        height:100%;
        object-fit: cover;
    }

    .left-img-one{
        padding-right: 10%;
        padding-left: 10%;
        object-position: 0% 0%;
    
    }

    .left-img-two{
        padding-right: 10%;
        padding-left: 10%;
    }

    .right-img-top{
        padding-right: 10%;
        padding-left: 10%;
        object-position: 0% 0%;
    }

    .right-img-bottom{
        padding-right: 7%;
        padding-left: 7%;
    }
    
    .middle-img-bottom{
        padding-right: 10%;
        padding-left: 10%;
        width: 10em;
        height: 10em;
        -o-object-fit: contain;
        object-fit: contain;
        -o-object-position: top left;
        object-position: top left;
    }
    
    .left-bottom-caption{
        display: none;
    }
    
    .middle-bottom-caption{
        display: none;
    }
    
    .right-bottom-caption{
        display: none;
    }
    
    .right-bottom-top-caption{
        display: block;
    }
    
    .portfolio-pics p{
        margin-bottom: 0%;
    }
    
    .packages-button{
        text-align: center;
        height: 100px;
        display: table;
        margin-top: 10%;
    }

    .packages-button button{
        display: table-cell;
        vertical-align: middle;
        position:relative;
        top: 25px;
    }   
    
}

@media (max-width: 500px) {
    
    .logo img{
        width:50px;
        padding-top: 13%;
    }
    
    form{
        width: 300px;
        right: 50%;
        transform: translate(50%,-50%);
    }
    
    h4{
        font-size: .8rem;
    }
    
    h3{
    font-size:20px;
    }
    
    .hero-text{
        width: 450px;
        height: 260px;
    }
    
    .hero-text button{
      font-size:22px;
      width: 200px;
      height: 50px;
    }

    .about-box button{
      font-size:22px;
      width: 200px;
      height: 50;
    }

    .portfolio-pics button{
      font-size:22px;
      width: 200px;
      height: 50px;
    }
    
     input[type=submit] {
      font-size:22px;
      width: 200px;
      height: 50px;
    }
    
    .logo img{
        width:50px;
        padding-top: 13%;
    }
    
    
    .hero-text{
        width: 350px;
        height: 200px;
    }

    .hero-text h2{
        font-size: 36px;
        margin-bottom: 10%;
    }
    
    .about-box{
        width: 300px;
        height: 480px;
        position: absolute;
        right: 50% ;
        top: 50%;
        transform: translate(50%,-50%);
    }

    .about-box p{
        font-size: 20px;
        line-height: 24px;
    }
      
    
}
@media (max-width: 400px) {
    h4{
        font-size: .8rem;
    }
    
    .logo img{
        width:50px;
        padding-top: 5%;
        vertical-align: middle;
        margin-top:0%;
        margin-left:2%;
    }
    
    
    .hero-text{
        width: 280px;
        height: 220px;
    }

    .hero-text h2{
        font-size: 36px;
        margin-bottom: 5%;
        margin-top: 15%;
    }
    
    .heading{
        height: 50px;
    }

    .heading h2{
        font-size: 28px;
    }
    
    .about-box{
        width: 280px;
        height: 455px;
        position: absolute;
        right: 50% ;
        top: 50%;
        transform: translate(50%,-50%);
    }

    .about-box p{
        font-size: 18px;
        line-height:22px;
        margin-bottom: 5%;
    }
    
    div.caption.column.three-fifths{
        padding-left: 0%;
        padding-right: 0%;
    }
    
    img.left-img-one{
        padding-left: 0%;
        padding-right: 0%;
    }
    
    div.column.full.portfolio{
        padding-left: 0%;
        padding-right: 0%;
    }
    
    div.caption.column.three-fifths{
        margin-top: 0%;
    } 
    
    img.right-img-top{
        padding-left: 0%;
        padding-right: 0%;
    }
    
    div.caption.column.two-fifths{
        padding-left: 0%;
        padding-right: 0%;
    }
    
    img.left-img-two{
        padding-left: 0%;
        padding-right: 0%;
    }
    
    div.caption.column.half{
        padding-left: 0%;
        padding-right: 0%;
    }
    
    img.middle-img-bottom{
        padding-left: 0%;
        padding-right: 0%;
    }
    
    div.caption.column.thirty{
        padding-left: 0%;
        padding-right: 0%;
    }
    
    img.right-img-bottom{
        padding-left: 0%;
        padding-right: 0%;
    }
    
    
    form{
        width: 260px;
        right: 50%;
        transform: translate(50%,-50%);
        margin-top: 0%;
        height: 500px;
    }
    
    
    textarea{
        padding: 6px 10px;
        margin: 8px 0;
        font-size: 16px;
    }

    input[type=text], select {
        padding: 6px 10px;
        margin: 8px 0;
        font-size: 16px;
    }
    
    .icon-footer-row{
        width: 260px;
        height: 50px;
        right: 50%;
        transform: translate(50%,-10%);
    }
    
    .contact i{
        font-size: 24px;
    }
     
}